<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/css/show2.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>

{% block body %}
<style> 
div{
    font-family: Arial black;
}
.container {
    text-align: center;
}
.val {
    color: #0070c6;
}
.piña {
    font-size:24px;
}
.nom {
    font-size:24px;
}
.img {
    border: 2px solid #dddddd;
    padding: 15px;
}
</style>

<div class="container">
    <br>
    <img src="../../../../public/img/Bobs.png" alt="" width="340px" height="320px">
    <br>
    <br>
    <div class="piña"><strong>ROMPE LA PIÑATA</strong></div>
    <div>Villa Santa - Santa Clara<div>
    <br>
    <div>Sábado 15 de Abril 2023</div>
    <div class="val"><strong>Válido hasta las 11:00 pm</strong></div>
    <br>
    {# <img class="img" src="C:/xampp/htdocs/Eventos/public/img/{{promotor.dni}}.png" alt="QR Code" width="120px" height="120px"> #}
    <img class="img" src="../../../../public/img/{{promotor.dni}}.png" alt="QR Code" width="120px" height="120px">
    <br>
    <br>
    <div>SECTOR GENERAL</div>
    <div class="nom"><strong>{{promotor.nombre | upper}}</strong></div> 
    <div class="val"><em>Invitación Válida para 10 personas</em><div>
</div>
    {# <table class="table">
        <tbody>
            <tr>
                <th>Grupo</th>
                <td>{{ promotor.grupo }}</td>
                <th>Promotor</th>
                <td>{{ promotor.nombre }}</td>
                <th>QR</th>
                <td><img src="{{ asset('img/'~ promotor.dni ~ '.png') }}" alt="QR Code"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promotor_index') }}">back to list</a> #}

{% endblock %}
